<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Driver -Safaris</title>
    <link rel="stylesheet" href="static/css/driver.css">
    
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo">Safaris</div>
                <ul class="nav-links">
                    <li><a href="index">Home</a></li>
                    <li><a href="joinus">Join Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Become a Safaris Driver</h1>
                <p>Start your journey with us today!</p>
            </div>
        </section>

        <section class="container">
            <div class="form-container">
                <form id="driver-form">
                    <div class="form-group">
                        <label for="full-name">First Name</label>
                        <input type="text" id="firstname" name="full-name" required>
                    </div>
                    <div class="form-group">
                        <label for="full-name">Middle Name</label>
                        <input type="text" id="middlename" name="full-name" required>
                    </div>
                    <div class="form-group">
                        <label for="full-name">Last Name</label>
                        <input type="text" id="lastname" name="full-name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="id-number">ID Number</label>
                        <input type="text" id="id-number" name="id-number" required>
                    </div>
                    <div class="form-group">
                        <label for="vehicle-plate">Vehicle Number Plate</label>
                        <input type="text" id="vehicle-plate" name="vehicle-plate" required>
                    </div>
            </div>
            <button type="submit" class="submit-button">Submit Application</button>
            </form>
            </div>
        </section>
    </main>

    <pre>
        {{.Driver}}
    </pre>
    <script src="static/js/driver.js"></script>
</body>

</html>