<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safaris - Your Reliable Drive-Sharing Platform</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <header>
        <div class="container">
            <nav class="nav-links">
                <div class="cta-button"><a href="index">Safaris</a></div>
                <ul>
                    <li class="cta-button"><a href="joinus">Join Us</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Welcome to Safaris</h1>
                <p>Your reliable transport-sharing platform</p>
                <class="cta-button"> <a href="joinus">Get Started</a>
            </div>
        </section>

        <section class="features container">
            <div class="feature">
                <h3>Safe transportation</h3>
                <p>Our top priority is your safety. All drivers are thoroughly vetted and trained.</p>
            </div>
            <div class="feature">
                <h3>Quick Pickups</h3>
                <p>Get a ride within minutes of your request. Our large network ensures fast service.</p>
            </div>
            <div class="feature">
                <h3>Affordable Prices</h3>
                <p>Enjoy competitive rates and transparent pricing. No hidden fees, ever.</p>
            </div>
        </section>
    </main>

</body>

</html>