<!DOCTYPE html>
<html>
    <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Us - Safaris</title>
    <link rel="stylesheet" href="static/css/joinus.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo"><a href="index">Safaris</a></div>
                <ul class="nav-links">
                    <li><a href="index">Home</a></li>
                    <li><a href="joinus">Join Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Join Safaris Today</h1>
                <p>Choose how you want to be part of our community</p>
            </div>
        </section>

        <section class="options container">
            <div class="option">
                <h2>Become a Driver</h2>
                <p>Start earning money by driving on your own schedule. Be your own boss and enjoy the flexibility of choosing when and where to drive.</p>
                <div a class="join-button"> <a href="driver">Sign Up as Driver</a></div>
            </div>
            <div class="option">
                <h2>Ride with Us</h2>
                <p>Sign up as a customer and enjoy safe, reliable, and affordable transportation services  whenever you need them. Get to your destination hassle-free!</p>
                <div  class="join-button"> <a href="user">Sign Up as Customer</a></div>
            </div>
        </section>
    </main>
</body>
</html>